## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Draft & Test Appeals Rules
Draft/

# IDE - VSCode
.vscode/*
.DS_Store
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
